@model ProductsListViewModel
@*@model IEnumerable<Product>*@

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (ViewBag.IsAdmin == true)
{
    <div>
        <a class="btn btn-outline-primary btn-sm m-1" asp-controller="Admin" asp-action="Index">
            Admin
        </a>
        <hr />
    </div>
}





@foreach (Product product in Model.Products)
{
    <partial name="ProductSummary" model="product" />
}

<div page-model="@Model.PagingInfo"
     page-action="List"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-secondary"
     page-class-selected="btn-primary"
     page-url-category="@Model.CurrentCategory"
     class="btn-group float-right mt-1"></div>













